* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #282a36;
    font: 14px sans-serif;
    color: #fff;
}

h1 {
    font-size: 42px;
    margin: 50px 0;
    text-align: center;
}